In [1]:
import numpy  as np
import pandas as pd

## Cat

In [2]:
df = pd.DataFrame(); df['ABC']=['A1@B1@C1','A2@B2@C2','A3@B3@C3']; df

        ABC
0  A1@B1@C1
1  A2@B2@C2
2  A3@B3@C3

In [4]:
A, B, C = [], [], []

for i in df['ABC']:
    splt = i.split('@')
    A.append( str(splt[0]) )
    B.append( str(splt[1]) )
    C.append( str(splt[2]) )
        
df[ 'A' ] = A
df[ 'B' ] = B
df[ 'C' ] = C
df[ ['A','B','C'] ].head(3)

    A   B   C
0  A1  B1  C1
1  A2  B2  C2
2  A3  B3  C3

## Cat-Sc Group
 - grouping a Scalar by a Categorical
 - Making New Columns Based  on Count, Mean, Median, Min, Max

In [5]:
df = pd.DataFrame()
df['C'] = ['A', 'A', 'B', 'B', 'B']
df['S'] = [ 10, 20, 100, 200, 300 ]
df

   C    S
0  A   10
1  A   20
2  B  100
3  B  200
4  B  300

In [6]:
g = df.groupby('C').count()  # count mean median min max

df['G'] = np.nan*df.shape[0]
for sub in g.index: 
    df.loc[ df['C']==sub, 'G' ] = g.loc[sub,'S']
    
df

   C    S    G
0  A   10  2.0
1  A   20  2.0
2  B  100  3.0
3  B  200  3.0
4  B  300  3.0

## Sc Binning

In [7]:
df = pd.DataFrame()
df['S'] = [74, 77, 84, 89, 95]
df

    S
0  74
1  77
2  84
3  89
4  95

In [8]:
df['Bin'] = '-'*df.shape[0] 
for i in df.index:
    if   df.loc[i,'S'] >= 90: df.loc[i,'Bin'] = '90-100'
    elif df.loc[i,'S'] >= 80: df.loc[i,'Bin'] = '80-89'
    elif df.loc[i,'S'] >= 70: df.loc[i,'Bin'] = '70-79'
    else                    : df.loc[i,'Bin'] = '0-69'
df

    S     Bin
0  74   70-79
1  77   70-79
2  84   80-89
3  89   80-89
4  95  90-100

## Sc Ratio & Operations

In [9]:
df = pd.DataFrame()
df['S1'] = [1,3,5]
df['S2'] = [5,12,20]
df

   S1  S2
0   1   5
1   3  12
2   5  20

In [10]:
df[  'Ratio'   ] = df['S1'] / df['S2']
df['Operations'] = df['S1'] + df['S2']
df

   S1  S2  Ratio  Operations
0   1   5   0.20           6
1   3  12   0.25          15
2   5  20   0.25          25

## Date & Time

In [11]:
df = pd.DataFrame()
df['DATE-TIME'] = ['Sat Feb 10 14:52:31 2024','Sun Feb 11 16:27:59 2024']  # import time; time.ctime()
df

                  DATE-TIME
0  Sat Feb 10 14:52:31 2024
1  Sun Feb 11 16:27:59 2024

In [12]:
df['DATE-TIME'] = pd.to_datetime( df['DATE-TIME'] )

df[ 'YEAR' ] = df['DATE-TIME'].dt.year
df['MONTH' ] = df['DATE-TIME'].dt.month
df[ 'DAY'  ] = df['DATE-TIME'].dt.day
df[ 'HOUR' ] = df['DATE-TIME'].dt.hour
df['MINUTE'] = df['DATE-TIME'].dt.minute
df['SECOND'] = df['DATE-TIME'].dt.second
df

            DATE-TIME  YEAR  MONTH  DAY  HOUR  MINUTE  SECOND
0 2024-02-10 14:52:31  2024      2   10    14      52      31
1 2024-02-11 16:27:59  2024      2   11    16      27      59

#####

#####